<template>
  <q-page class="plaintext-page">
    <header class="q-pa-md text-h1">About</header>
    <q-card class="q-ma-md q-pa-md text-justify">
      <p>
        HyperPubee is a platform for decentralised publishing. Its goal is to
        connect readers directly with writers, and to enable writers to publish
        for free (truly for free, in the sense that they need not pay any money,
        nor give up any rights, nor give up any of their personal data, nor
        force their readers to do any of these things).
      </p>
      <p>
        It is not possible to publish for free on paper, so the scope is limited
        to online publishing. This is a bit sad, since reading from paper is
        much preferable to reading from a screen, but there also is a silver
        lining, because the decentralised internet lets you do something which you
        cannot do on paper without an embarrassing amount of footnotes: referencing
        other works. (T.S. Eliot tried, but his publisher forced him
        to add footnotes to The Waste Land, and pretty much any edition you now find
        adds a bunch more footnotes still, including footnotes to the footnotes—I
        like to think he would have liked this project.)
      </p>
      <p>
        HyperPubee is being designed in such a way that it becomes possible for
        the writer to embed other works, and for the reader to interact with
        those embedded works in a more-intuitive-than-footnote fashion. Briefly:
        the writer defines an embedding (“line 430 of The Waste Land”) rather
        than the actual quoted text (“These fragments I have shored upon my
        ruins”). When a reader requests the work, the rendering process notices
        that the work contains an embedding, so it looks for peers who are
        sharing “The Waste Land”, and downloads line 430 from them. The line is
        then rendered, as well as some indication that it is an embedded text.
      </p>
      <p>
        The adventurous reader can then choose to look up the context of that
        embedding, which is where the madness (and genius) of T.S. Eliot begins
        to unfold: the three lines before and after “These fragments I have shored upon my
        ruins” reference a
        total of five major works of literature. The rendering process, rather than
        just rendering the plain text of those surrounding lines, recurses: it
        looks for peers with access to any of those 5 works, and downloads
        the relevant line for each. Then, of course, our adventurous
        reader becomes curious about the context of each of those 5 works.
        Unfortunately, I do believe no more embeddings are to be found there, so
        the process stops recursing at this point, but that is more a
        limitation of our literary past, not of what our literary future could
        be.
      </p>

      <p
        >Having said all that, please do note that HyperPubee is still in its
        proof-of-concept phase, so you’d better not use it for anything too
        serious, as there are certain to be breaking changes. But when they stop
        breaking, you should be left with a tool with the following properties:

        <ul>
          <li>Publishing is free in the broad sense.</li>
          <li>
            All works are wholly writer-owned: the writer decides what to share,
            and when (or whether) to make changes. Only the original writer can
            make changes to a work.
          </li>
          <li>
            All works are versioned: changes do not override the old version,
            but they add a new one.
          </li>
          <li>
            It is possible to sparsely load parts of works (if you wish to read
            a particular verse of a lengthy work, you will only download that
            particular verse, not the entire text).
          </li>
          <li>Embeddings are supported, as explained above.</li>
          <li>
            Works can be created and read by using an open-source app which
            needs to be installed locally.
          </li>
          <li>
            The app is local-first: once you have downloaded a work, it remains on your disk,
            so you can read it at any time, also without an internet connection.
          </li>
          <li>
            Works can be read with the same app, but to avoid forcing the
            installation of an app upon the entire target audience of a writer,
            it is also possible to read content from the browser. Initially this
            is done through a relay (for example, this server acts as a relay),
            but when browsers start supporting peer-to-peer technology, this
            relay will no longer be necessary. Do note that the relay is a
            centralised system, and suffers from all of their weaknesses.
          </li>
          <li>
            Works are hosted by all interested parties, not by only one person
            or entity. This ensures works remain available as long as at least
            one person remains interested in them—in particular: when a work is
            embedded, the embedder can help ensure that the embedded work
            remains available.
          </li>
        </ul>
      </p>
    </q-card>
  </q-page>
</template>
