<template>
  <q-page>
    <header class="q-ma-lg text-h1">Create Work</header>
    <q-splitter v-model="splitterModel">
      <template #before>
        <PubeeCreator @created-work="updateHashAndBackend" />
      </template>
      <template #after>
        <div v-if="hashToRender.length > 0" class="work-container">
          <q-card class="work-card q-ma-lg q-pa-md">
            <PubeeWork
              :key="hashToRender"
              :hash="hashToRender"
              :backend="backend"
            />
          </q-card>
        </div>
      </template>
    </q-splitter>
  </q-page>
</template>

<script setup>
import { ref } from "vue";
import PubeeWork from "../components/PubeeWork.vue";
import PubeeCreator from "../components/PubeeCreator.vue";

const hashToRender = ref("");
const backend = ref("");
const splitterModel = ref(50);

function updateHashAndBackend({ hash, backend: newBackend }) {
  hashToRender.value = hash;
  backend.value = newBackend;
}
</script>
