<template>
  <q-page class="plaintext-page">
    <header class="q-pa-md text-h1">Download</header>
    <q-card class="q-pa-md q-ma-md text-justify">
      <p>Hyperpubee is meant to be run as an app.</p>

      <p>
        On the browser, you are limited to reading other people's works, but an
        app offers persistence and the ability to share your works with the
        world using the
        <a
          href="https://hypercore-protocol.org/"
          target="_blank"
          rel="noopener noreferrer"
          >Hypercore</a
        >
        decentralised network. Another advantage of using the app is that you
        are no longer dependant on the infrastructure hosting this website. If
        you have downloaded the app, you can continue to read, create and share
        works even if the server hosting this website goes down.
      </p>

      <p>
        Click
        <a :href="downloadLink" target="_blank" rel="noopener noreferrer">here</a>
        to download the app for Linux, or
        <a :href="downloadLinkWindows" target="_blank" rel="noopener noreferrer">here</a>
        for windows (if you wish to use the app on mac, please contact me, and I will add a mac build).
      </p>


      <p>
        <q-icon name="warning" /> Disclaimer: HyperPubee is still in alfa, so don't use it for anything
        too serious, and expect to report some bugs. <q-icon name="warning" />
      </p>

      <p>
        The source code can be found in the following repositories:
        <ul>
          <li><a href="https://gitlab.com/HDegroote/hyperpubee-app" target="_blank" rel="noopener noreferrer">hyperpubee-app</a>: this website and the electron app</li>
          <li><a href="https://gitlab.com/HDegroote/hyperpubee" target="_blank" rel="noopener noreferrer">hyperpubee</a>: the core data structure</li>
          <li><a href="https://gitlab.com/HDegroote/hyperpubee-swarm-interface" target="_blank" rel="noopener noreferrer">hyperpubee-swarm-interface</a>: the interface with the hyperswarm network</li>
          <li><a href="https://gitlab.com/HDegroote/hyperpubee-relay" target="_blank" rel="noopener noreferrer">hyperpubee-relay</a>: the websocket server which relays the swarm to the browser</li>
          <li><a href="https://gitlab.com/HDegroote/hyperpubee-backend" target="_blank" rel="noopener noreferrer">hyperpubee-backend</a>: the logic for persisting hyperpubees on disk</li>
          <li><a href="https://gitlab.com/HDegroote/hyperpubee-cli" target="_blank" rel="noopener noreferrer">hyperpubee-cli</a>: a simple command-line interface for creating hyperpubees</li>


        </ul>
      </p>

      <div class="row">
        <q-space />
        <q-btn
          color="secondary"
          label="Download (Linux)"
          class="q-pa-md q-mr-md float"
          :href="downloadLink"
          target="_blank"
          rel="noopener noreferrer"
        />
        <q-btn
          color="secondary"
          label="Download (Windows)"
          class="q-pa-md float"
          :href="downloadLinkWindows"
          target="_blank"
          rel="noopener noreferrer"
        />

      </div>
    </q-card>
  </q-page>
</template>

<script setup>
  const downloadLink = process.env.HYPERPUBEE_DOWNLOAD_LINK
  const downloadLinkWindows = process.env.HYPERPUBEE_DOWNLOAD_LINK_WINDOWS
</script>
