<template>
  <q-page>
    <header class="q-ma-lg text-h1">Library</header>

    <Library v-if="isElectron" />
    <q-card v-else class="q-ma-md q-pa-sm">
      The library is not available in the browser. Please
      <router-link to="/download">download</router-link> the electron app to
      have persistence.
    </q-card>
  </q-page>
</template>

<script setup>
import { inject } from "vue";
import Library from "../components/Library.vue";

const isElectron = inject("isElectron");
</script>
