<template>
  <q-page class="q-pa-md row items-stretch">
    <div class="col-12 q-pa-md">
      <q-card class="no-box-shadow q-mb-md">
        <ReadPubeeInput :init-key="exampleKey" :read-work="readWork" />

        <q-card-section
          v-for="[workHash, label] in Object.entries(exampleWorks)"
          :key="workHash"
          class="q-pa-none q-pl-md"
        >
          <code>{{ workHash }}</code> ({{ label }})
        </q-card-section>
      </q-card>
      <q-splitter v-model="splitterModel" :limits="[0, Infinity]">
        <template #before>
          <div class="work-container">
            <q-card class="work-card q-ma-lg">
              <PubeeWork
                v-if="hash.length > 0"
                :key="hash"
                :hash="hash"
                :backend="defaultBackend"
              />
            </q-card>
          </div>
        </template>

        <template #after>
          <div v-if="referencedWorkHash.length > 0" class="work-container">
            <q-card class="referenced-work-card q-ma-lg">
              <PubeeWork
                :key="referencedWorkHash"
                :hash="referencedWorkHash"
                :backend="defaultBackend"
                :active-referenced-embedding="activeReferencedEmbedding"
              />
            </q-card>
          </div>
        </template>
      </q-splitter>
    </div>
  </q-page>
</template>

<script setup>
import { ref, computed, inject, provide } from "vue";
import PubeeWork from "../components/PubeeWork.vue";
import ReadPubeeInput from "../components/PubeeKeyInputForm.vue";

const defaultBackend = inject("defaultBackend");

provide("embeddingClickedCb", (...args) => embeddingClickedCb(...args));

provide(
  "allReferencedEmbeddings",
  computed(() => allReferencedEmbeddings.value)
);

const exampleWorks = {
  [process.env.HYPERPUBEE_EXAMPLE_WORK_KEY]: "Ode to Self-Publication",
  [process.env.HYPERPUBEE_PROSE_EXAMPLE_KEY]: "A Piece of Prose",
  [process.env.HYPERPUBEE_EMBEDDING_EXAMPLE_WORK_KEY]:
    "Example with embeddings",
  [process.env.HYPERPUBEE_PATCH_EXAMPLE_KEY]: "Example with patched embeddings",
};

const exampleKey = process.env.HYPERPUBEE_EXAMPLE_WORK_KEY;
const hash = ref("");
const splitterModel = ref(100);

const referencedWorkHash = ref("");
const activeReferencedEmbedding = ref({});
const allReferencedEmbeddings = ref([]);

async function readWork(beeKey) {
  console.log(`Reading work ${beeKey}`);
  hash.value = beeKey;
  referencedWorkHash.value = "";
  splitterModel.value = 100;
  allReferencedEmbeddings.value = [];
}

async function embeddingClickedCb(embedding) {
  // If user modified splitscreen: let it stand, unless the embedded
  // work would be almost completely hidden.
  const minVisibleValue = 90;
  if (splitterModel.value > minVisibleValue) splitterModel.value = 50;

  //DEVNOTE: the referenced embeddings must be obtained before the
  // other values, to avoid an annoying race condition which occurs
  // because of an incorrect usage of reactivity somewhere--to debug
  // (desired behaviour is to load the work without indicated embeddings
  // and to add those indications when the await resolves)
  allReferencedEmbeddings.value = await defaultBackend.getAllEmbeddings(
    hash.value
  );
  referencedWorkHash.value = embedding.referencedHash;
  activeReferencedEmbedding.value = embedding;
}
</script>
