<template>
  <q-form
    autocorrect="off"
    autocapitalize="off"
    autocomplete="off"
    spellcheck="false"
  >
    <q-input v-model="author" outlined class="q-mb-md create-form-no-wrap">
      Author (optional)
    </q-input>

    <q-input v-model="name" outlined class="q-mb-md create-form-no-wrap">
      Work name
    </q-input>

    <q-input v-model="editor" type="textarea" filled rows="15" />

    <div class="row">
      <q-btn
        class="q-mr-sm"
        color="secondary"
        label="Create Hyperpubee"
        @click="$emit('createWork', { text: editor, name, author })"
      />

      <q-btn
        color="secondary"
        label="Preview"
        @click="$emit('previewWork', { text: editor, author })"
      />
      <q-space />
      <LoadExampleText @load-example="loadExample" />
    </div>
  </q-form>
</template>

<script setup>
import { ref } from "vue";
import LoadExampleText from "./LoadExampleText.vue";

defineProps({
  createCb: {
    required: true,
    type: Function,
  },
  previewCb: {
    required: true,
    type: Function,
  },
});

defineEmits(["createWork", "previewWork"]);

const editor = ref("");
const name = ref("");
const author = ref("");

function loadExample(text) {
  editor.value = text;
}
</script>

<style>
/*
  'no-wrap' conflicts with a style of the splitter, resulting in
  odd and ugly behaviour, hence the ad-hoc naming
*/
.create-form-no-wrap {
  white-space: nowrap;
}
</style>
