<template>
  <q-item v-close-popup clickable @click="$emit('loadExample', label)">
    <q-item-section>
      <q-item-label>{{ label }}</q-item-label>
    </q-item-section>
  </q-item>
</template>

<script setup>
defineProps({
  label: {
    required: true,
    type: String,
  },
});
defineEmits(["loadExample"]);
</script>
