<template>
  <div class="q-pa-md">
    <q-table title="Library" :rows="works" :columns="columns" row-key="name">
      <template #body-cell-toggleHosting="props">
        <q-td :props="props">
          <q-btn
            rounded
            :label="isHosted(props.row) ? 'unhost' : 'host'"
            :color="isHosted(props.row) ? 'negative' : 'positive'"
            @click="onHostedClick(props.row)"
          ></q-btn>
        </q-td>
      </template>
      <template #top>
        <div class="col-2 q-table__title">Library</div>
        <q-space />
        <q-btn
          rounded
          label="Host All"
          color="positive"
          @click="onHostAllClick()"
        ></q-btn>
        <q-btn
          rounded
          label="Unhost All"
          color="negative"
          @click="onUnhostAllClick()"
        ></q-btn>
      </template>
    </q-table>
  </div>
</template>

<script>
import { defineComponent, ref } from "vue";

export default defineComponent({
  name: "LibraryPage",
  inject: ["defaultBackend"],

  setup() {
    const columns = [
      {
        name: "name",
        required: true,
        label: "Name",
        align: "left",
        field: (row) => row.name,
        format: (val) => `${val}`,
        sortable: true,
      },
      {
        name: "title",
        align: "center",
        label: "Title",
        field: "title",
        sortable: true,
      },
      {
        name: "hash",
        align: "center",
        label: "Hash",
        field: "hash",
        sortable: true,
      },
      {
        name: "writable",
        align: "center",
        label: "Writable (owner)",
        field: "writable",
      },
      { name: "hosted", align: "center", label: "Hosting", field: "hosted" },
      {
        name: "toggleHosting",
        align: "center",
        label: "Toggle Hosting",
        field: "toggleHosting",
      },
    ];

    return {
      works: ref([]),
      columns,
    };
  },

  computed: {},

  async created() {
    this.works = (await this.defaultBackend.getLibrary()).works;
  },

  methods: {
    async onHostedClick(work) {
      if (work.hosted) {
        // Unhost
        await this.defaultBackend.unserveWork(work.hash);
      } else {
        // Host
        await this.defaultBackend.serveWork(work.hash);
      }

      await this.refreshWorks();
    },

    async refreshWorks() {
      this.works = (await this.defaultBackend.getLibrary()).works;
    },

    async onHostAllClick() {
      await this.defaultBackend.serveAllWorks();
      await this.refreshWorks();
    },

    async onUnhostAllClick() {
      await this.defaultBackend.unserveAllWorks();
      await this.refreshWorks();
    },

    isHosted(work) {
      return work.hosted;
    },
  },
});
</script>
