<template>
  <q-btn-dropdown color="secondary" label="Load example">
    <q-list>
      <ExampleTextItem
        v-for="label in Object.keys(allExamples)"
        :key="label"
        :label="label"
        @load-example="(label) => $emit('loadExample', allExamples[label])"
      />
    </q-list>
  </q-btn-dropdown>
</template>

<script setup>
import { onMounted } from "vue";
import ExampleTextItem from "./ExampleTextItem.vue";

const emit = defineEmits("loadExample");

const poemExample = `[poetry]
# Write Your Poem

If it has a title, define it as here with the leading hashtag
Verses are defined by leaving a blank line
So if you want to start a new verse, do this:

Press Preview to see your poem rendered
(Feel free to press it now, so you see what happens)
Once you are satisfied, you can press Create Hyperpubee

Enjoy!
`;

const proseExample = `[prose]
# Write Your Text

If it has a title, define it as here with the leading hashtag.

A new paragraph is started when you leave a blank line.

Press Preview to see your prose rendered (feel free to press it now, so you see what happens).

Once you are satisfied with the result, you can press 'Create Hyperpubee'.

Enjoy!
`;

const odeReference = process.env.HYPERPUBEE_EXAMPLE_WORK_KEY;

const embeddingExample = `[poetry]
#The Embedded Poem

I am a poem of great embeddings
which is also an <${odeReference}/content/0>
Once more <${odeReference}/content/4>
Once more <${odeReference}/content/11>

Embeddings are fun, <${odeReference}/content/2> with them
I am still <${odeReference}/content/12>
<${odeReference}/content/13>
<${odeReference}/content/14> too
`;

const patchExample = `[prose]
#Patches Pending (Preview)

User-interface support for patching and embedding has not yet been implemented.
For now it is only possible to patch by reaching down to a lower level of abstraction
and generate or write the patch yourself.
Here is an example:
<${odeReference}/content/14[[0,"I "],[-1,"bet"],[1,"fear"],[0," this will make for a "],[-1,"great"],[1,"poor"],[0," illustration"]]>.

Rest assured: a more user-friendly way to define your own embeddings and patches is forthcoming.
`;

const allExamples = {
  Prose: proseExample,
  Poetry: poemExample,
  Embeddings: embeddingExample,
  Patches: patchExample,
};

onMounted(() => {
  emit("loadExample", poemExample);
});
</script>
