<template>
  <q-card class="q-pa-md">
    <div class="q-ma-md text-h2">Input</div>
    <q-card-section>
      <CreateWorkForm @create-work="createWork" @preview-work="previewWork" />
    </q-card-section>

    <q-card-section v-if="createdPubeeHash"
      >Key: {{ createdPubeeHash }}</q-card-section
    >

    <q-card-section v-if="!isElectron">
      Please note that it is not possible to share or save poems created on the
      browser. If you like the idea of publishing your creations, go ahead and
      <router-link to="/download">download</router-link> the app!
    </q-card-section>
  </q-card>
</template>

<script setup>
import { ref, inject } from "vue";
import { Notify } from "quasar";
import CreateWorkForm from "./CreateWorkForm.vue";

const emit = defineEmits(["createdWork"]);

const defaultBackend = inject("defaultBackend");
const nonPersistentBackend = inject("nonPersistentBackend");
const isElectron = inject("isElectron");

const createdPubeeHash = ref("");

async function createWork({ ...params }) {
  const key = await processCreateWork({
    backend: defaultBackend,
    ...params,
  });
  if (key.length > 0) {
    const msg = `created work with key ${key}`;
    console.log(msg);
    Notify.create(msg);
  }
}

async function previewWork({ ...params }) {
  // A hack to ensure we don't get duplicate core names when previewing
  // the same one multiple times, or if the nonPersistent and persistent
  // backend are the same (as in browser)
  const randomisedName = `${Math.random()}`;

  await processCreateWork({
    ...params,
    backend: nonPersistentBackend,
    name: randomisedName,
  });
}

async function processCreateWork({ backend, text, name, author }) {
  let createdWorkKey = "";

  try {
    createdWorkKey = await backend.createWorkFromText({
      text,
      name,
      author,
    });
  } catch (error) {
    console.error(error);
    alert(error);
  }

  createdPubeeHash.value = createdWorkKey;

  emit("createdWork", { hash: createdWorkKey, backend });
  return createdWorkKey;
}
</script>
