<template>
  <!--Ensure a new line is started for the structure.
   Needed for example for line-components, to ensure the contents
   of different lines are indeed separated by a new line.
   Note that this is an ugly solution, and prohibits structures rendered on the same line
   -->
  <div style="clear: both"></div>

  <div :class="classname">
    <component
      :is="child.component.componentType"
      v-for="(child, index) in resolvedChildren"
      :key="index"
      v-bind="child.component.propsData"
      :quoted-text-ranges="getQuotedRangesInChild(child)"
    />
  </div>
</template>

<script setup>
import { inject, ref, computed, onMounted, watch } from "vue";
import { utils, Embedding } from "hyperpubee";

import PubeeContent from "./PubeeContent.vue";
import PubeeStructure from "./PubeeStructure.vue";
import PubeeEmbedding from "./PubeeEmbedding.vue";

class ResolvedChild {
  constructor({ component, location }) {
    this.component = component;
    this.location = location;
  }
}

const quoteBackReference = inject("quoteBackReference");
const allReferencedEmbeddings = inject("allReferencedEmbeddings");

const props = defineProps({
  children: {
    type: Array,
    required: true,
  },
  classname: {
    type: String,
    required: true,
  },
  hash: {
    required: true,
    type: String,
  },
  backend: {
    required: true,
    type: Object,
  },
});

const resolvedChildren = ref([]);

const isEmbeddedMap = computed(() => {
  const res = {};
  for (const embedding of allReferencedEmbeddings?.value || []) {
    if (embedding.referencedHash === props.hash) {
      res[embedding.referencedLocation] = true;
    }
  }
  return res;
});

// eslint-disable-next-line
watch(props.children, () => {
  // This will render components which had to be awaited
  createResolvedChildren();
});

onMounted(async () => {
  // This will render all components which need not be awaited
  await createResolvedChildren();
});

function getQuotedRangesInChild(resolvedChild) {
  const reference = quoteBackReference.value;

  if (resolvedChild.location === reference.location) {
    return reference.quotedIndices;
  } else {
    return [];
  }
}

async function createResolvedChildren() {
  const childPromises = props.children.map((child) =>
    props.backend.get(props.hash, child)
  );

  const resolvedPromises = await Promise.all(childPromises);

  for (let i = 0; i < resolvedPromises.length; i++) {
    const childKey = props.children[i];

    let component;

    if (utils.isKeyForContent(childKey)) {
      component = {
        componentType: PubeeContent,
        propsData: {
          content: resolvedPromises[i],
          isEmbedded: isEmbeddedMap.value[childKey] === true,
        },
      };
    } else if (utils.isKeyForStructure(childKey)) {
      component = {
        componentType: PubeeStructure,
        propsData: {
          children: resolvedPromises[i],
          classname: utils.getSubstructureNameFromKey(childKey),
          hash: props.hash,
          backend: props.backend,
        },
      };
    } else if (utils.isKeyForEmbedding(childKey)) {
      const embedding = new Embedding(resolvedPromises[i]);

      component = {
        componentType: PubeeEmbedding,
        propsData: { embedding: embedding, backend: props.backend },
      };
    } else {
      console.warn("Unexpected key type--skipping", childKey);
    }

    resolvedChildren.value.push(
      new ResolvedChild({
        component,
        location: childKey,
      })
    );
  }
}
</script>
