<template>
  <!--Dummy span to facilitate easy focussing-->
  <span ref="focusSpan"></span>
  <span :class="isEmbedded ? ' embedded-content' : ''">
    <span
      v-for="([textSpan, styleClass], index) of spans"
      :key="index"
      :class="styleClass"
      >{{ textSpan }}
    </span>
  </span>
</template>

<script setup>
import { computed, watch, onMounted, ref } from "vue";
import utils from "../utils";

const ACTIVE_BACK_REF_CSS_CLASS = "referencing-text";
const MS_SCROLL_DELAY = 350;

const props = defineProps({
  content: {
    type: String,
    required: true,
  },
  quotedTextRanges: {
    type: Array,
    required: false,
    default: () => [],
  },
  isEmbedded: {
    type: Boolean,
    required: false,
    default: false,
  },
});

const focusSpan = ref(null); //Template ref

const spans = computed(() => {
  return utils.getTextSpansFromQuotedRanges({
    text: props.content,
    quotedTextRanges: props.quotedTextRanges,
    includeValue: ACTIVE_BACK_REF_CSS_CLASS,
  });
});

const isActivelyQuoted = computed(() => {
  return props.quotedTextRanges.length > 0;
});
// eslint-disable-next-line
watch(props.quotedTextRanges, () => {
  scrollIntoViewIfQuoted();
});

onMounted(() => {
  scrollIntoViewIfQuoted({ useDelay: true });
});

function scrollIntoViewIfQuoted({ useDelay = false } = {}) {
  if (isActivelyQuoted.value) {
    // The timeout is a hack to increase the probability that it will
    // scroll to the correct position if other components are still being
    // rendered (without it, it scrolls to its position at the time of rendering
    // which can change significantly if other text is rendered later)
    const msDelay = useDelay ? MS_SCROLL_DELAY : 0;

    setTimeout(() => {
      focusSpan.value.scrollIntoView({
        behavior: "smooth",
        block: "center",
      });
    }, msDelay);
  }
}
</script>
