<template>
  <q-form class="q-pa-md">
    <div class="row">
      <q-card
        v-if="!isElectron && relayStatus.isNotConnected()"
        class="q-mb-sm col-4"
      >
        <span class="material-icons"> warning </span>
        <span
          >Not connected to the relay--cannot read works (try refreshing)</span
        >
      </q-card>
    </div>

    <div class="row">
      <!--40em is about the size of a hypercore hash-->
      <div class="col-4" style="min-width: 40em">
        <q-input
          v-model="beeKey"
          placeholder="key (64-character hexadecimal)"
        ></q-input>
      </div>

      <q-btn
        color="secondary"
        label="Read Hyperpubee"
        class="q-pa-md"
        style="white-space: nowrap"
        :disable="!isElectron && !relayStatus.isConnected()"
        :loading="!isElectron && relayStatus.isConnecting()"
        @click="readWork(beeKey)"
      />
    </div>
  </q-form>
</template>

<script>
import { defineComponent } from "vue";

export default defineComponent({
  name: "PubeeKeyInputForm",

  inject: ["relayStatus", "isElectron"],

  props: {
    initKey: {
      required: false,
      type: String,
      default: null,
    },
    readWork: {
      required: true,
      type: Function,
    },
  },

  data() {
    return {
      beeKey: this.initKey,
    };
  },
});
</script>
