<template>
  <span
    class="embedding cursor-pointer bg-grey-3"
    @click="if (embeddingClickedCb) embeddingClickedCb(embedding);"
  >
    <component :is="componentType" v-bind="propsData"> </component>
  </span>
  <q-tooltip self="center left" anchor="center end" :delay="200">
    <p>Source: {{ getLink }} (click to display)</p>
  </q-tooltip>
</template>

<script setup>
import { ref, inject, computed, onMounted } from "vue";
import PubeeContent from "./PubeeContent.vue";
import { utils, Embedding } from "hyperpubee";

const embeddingClickedCb = inject("embeddingClickedCb");

const props = defineProps({
  embedding: {
    required: true,
    type: Embedding,
  },
  backend: {
    required: true,
    type: Object,
  },
});

const componentType = PubeeContent;
const propsData = ref({ content: "<LOADING EMBEDDING>" });

const getLink = computed(() => {
  const res = [
    props.embedding.referencedHash,
    ...utils.splitKeyInComponents(props.embedding.referencedLocation),
  ].join("/");
  return res;
});

onMounted(async function pubeeEmbeddingOnMounted() {
  const externalContent = await props.backend.get(
    props.embedding.referencedHash,
    props.embedding.referencedLocation
  );

  const patchedContent = props.embedding.applyPatch(externalContent);

  if (utils.isKeyForContent(props.embedding.referencedLocation)) {
    propsData.value = { content: patchedContent };
  } else {
    console.warn(
      "Keys for structures are not yet implemented--cannot render this embedding"
    );
  }
});
</script>
