<template>
  <div class="work">
    <PubeeStructure
      :key="children"
      :children="children"
      classname=""
      :hash="hash"
      :backend="backend"
    />
    <div class="author">{{ author }}</div>
  </div>
</template>

<script setup>
import { ref, computed, provide, onMounted } from "vue";
import PubeeStructure from "./PubeeStructure.vue";
import models from "../models";
import { Embedding } from "hyperpubee";

// This communicates to all child components which element (if any)
// and which text ranges of that element are being referenced
// from somewhere else, so it can be indicated.
// Explanation for reactive provide:
// https://vuejs.org/guide/components/provide-inject.html#working-with-reactivity
provide(
  "quoteBackReference",
  computed(() => {
    const quoteBackReference = models.QuoteBackReference.fromEmbedding(
      props.activeReferencedEmbedding
    );
    return quoteBackReference;
  })
);

const props = defineProps({
  hash: {
    required: true,
    type: String,
  },
  backend: {
    required: true,
    type: Object,
  },
  activeReferencedEmbedding: {
    required: false,
    type: Embedding, // Or empty object
    default: () => ({}),
  },
});

const children = ref([]);
const author = ref("");

onMounted(async () => {
  console.log(`Mounting work ${props.hash}`);

  const [newAuthor, newChildren] = await Promise.all([
    props.backend.getAuthor(props.hash),
    props.backend.getRoot(props.hash),
  ]);

  author.value = newAuthor;
  children.value = newChildren;
});
</script>
