// app global css in SCSS form

$WORK_HEIGHT: 71vh;

.work-container {
  text-align: center;
  flex: 1 0 auto;
}

.work-card {
  display: inline-block;
  min-height: $WORK_HEIGHT;
  max-width: 70em; // Sensible max-width not too distant from normal texts
  text-align: left;
}

.referenced-work-card {
  @extend .work-card;
  height: $WORK_HEIGHT;
  overflow: auto;
}

.work {
  display: inline-block; //Makes scale with content
  padding-bottom: 2.65em;
  font-size: 1.1em;
  text-align: left;
}

.chapter {
  margin-top: 1.35em;
  margin-bottom: 0.7em;
}

.line {
  display: inline-block;
  text-align: left;
  // This ensures that if a line is too long to fit on a single line,
  // the overflowing part is right-alined to indicate it belongs to
  //  the previous line, as is common with poems
  text-align-last: right;
  margin-left: 4em;
  margin-right: 2.6em;
}

.verse {
  margin-top: 0.67em;
}

.title {
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
  margin-left: 2.35em;
  margin-right: 2.35em;
  margin-top: 0.65em;
  margin-bottom: 0.65em;
}

.plaintext-page {
  margin-top: 1em;
  margin-bottom: 1em;
  // Needed to avoid an inner-card over-extending the borders
  padding-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  max-width: 70em;
  background-color: $grey-2;
}

.prose {
  text-align: justify;
  margin-left: 3.7em;
  margin-right: 3.7em;
}

.paragraph {
  display: block;
  margin-left: 0;
  margin-right: 0;
  text-indent: 1em;
}

.referencing-text {
  border: 1px solid;
}

.author {
  text-align: right;
  margin-top: 3.5em;
  margin-right: 3.5em;
  font-weight: 550;
}

.embedded-content {
  border: 1px dashed $grey-9;
}
