<template>
  <router-view />
</template>

<script>
import { defineComponent, provide, ref } from "vue";
import { Platform } from "quasar";
const DHT = require("@hyperswarm/dht-relay");
const Stream = require("@hyperswarm/dht-relay/ws");
const Hyperswarm = require("hyperswarm");
const SwarmInterface = require("hyperpubee-swarm-interface");
const Corestore = require("corestore");
const HyperInterface = require("hyperpubee-hyper-interface");
const ram = require("random-access-memory");

const { RelayStatus, StatusEnum } = require("./relay-status");
const BasicApp = require("./basic-app");

const app = defineComponent({
  name: "App",

  setup() {
    let defaultBackend, nonPersistentBackend;
    const relayStatus = ref(new RelayStatus(StatusEnum.CONNECTING));

    if (Platform.is.electron) {
      defaultBackend = window.electron.persistent;
      nonPersistentBackend = window.electron.nonPersistent;
    } else {
      // In the browser there is no persistence nor swarming
      // Everything passes through the relay
      defaultBackend = getRelayedBackend({
        relayServer: process.env.HYPERPUBEE_RELAY_SERVER_URL,
        relayStatus,
      });
      nonPersistentBackend = defaultBackend;
    }

    provide("defaultBackend", defaultBackend);
    provide("nonPersistentBackend", nonPersistentBackend);
    provide("isElectron", Platform.is.electron);
    provide("relayStatus", relayStatus);

    console.log("backends provided");

    return {
      defaultBackend: defaultBackend,
      nonPersistentBackend: nonPersistentBackend,
    };
  },

  async mounted() {
    await Promise.all([
      this.defaultBackend.ready(),
      this.nonPersistentBackend.ready(),
    ]);

    console.log("Backends ready");
  },
});

function getWebSocket(relayServer, relayStatus) {
  relayStatus.value.setStatus(StatusEnum.CONNECTING);

  const socket = new WebSocket(relayServer);
  console.log("Attempting to connect to the relay server at", relayServer);

  socket.addEventListener("error", (error) => {
    console.error(
      "Error on the websocket connection to the relay at",
      relayServer,
      error
    );
    relayStatus.value.setStatus(StatusEnum.NOT_CONNECTED);
  });

  socket.addEventListener("close", (event) => {
    console.warn(
      "The websocket connection to ",
      relayServer,
      `has been closed with code ${event.code} (${event.reason})`
    );
    relayStatus.value.setStatus(StatusEnum.NOT_CONNECTED);
  });

  /*socket.addEventListener("message", (event) => {
    console.debug("client received data on socket: %s", event.data);
  });*/

  socket.addEventListener("open", () => {
    console.log("Websocket to", relayServer, "successfully opened");
    relayStatus.value.setStatus(StatusEnum.CONNECTED);
  });

  return socket;
}

function getRelayedBackend({ relayServer, relayStatus }) {
  const socket = getWebSocket(relayServer, relayStatus);

  const stream = new Stream(true, socket);
  const dht = new DHT(stream);

  const swarm = new Hyperswarm({ dht: dht });
  console.log("Created swarm");

  const corestore = new Corestore(ram);
  const hyperInterface = new HyperInterface(corestore);

  const swarmInterface = new SwarmInterface(swarm, corestore);

  const backend = new BasicApp(hyperInterface, swarmInterface);
  return backend;
}

export default app;
</script>
