<template>
  <q-layout view="hHh Lpr fFf">
    <q-header elevated>
      <q-toolbar>
        <q-toolbar-title> HyperPubee </q-toolbar-title>
        <q-tabs>
          <q-route-tab name="create" label="Create" to=/create></q-route-tab>>
          <q-route-tab name="read" label="Read" to=/read ></q-route-tab>
          <q-route-tab name="library" label="Library" to=/library> </q-route-tab>
          <q-route-tab v-if="!isElectron" name="download" label="Download" to=/download> </q-route-tab>
          <q-route-tab name="about" label="About" to=/about> </q-route-tab>
        </q-tabs>
      </q-toolbar>
    </q-header>
    <q-page-container>
      <router-view />
    </q-page-container>

    <q-footer v-if="!isElectron" :class= "relayStatus.isConnected() ? 'bg-primary' : 'bg-negative'">
      <div class="row">
        <q-space/><p class="q-ma-sm">Relay status: {{relayStatus.statusStr}}</p>
      </div>
    </q-footer>

  </q-layout>
</template>

<script>
import { defineComponent } from "vue";


export default defineComponent({
  name: "MainLayout",
  inject: ["isElectron", "relayStatus"],
});
</script>
